:root {
  --ct-link-color: #0e8b40;
  --ct-primary: #0e8b40;
  --ct-primary-rgb: #0e8b40;
  --ct-menu-item-hover: #15d060;
  --ct-menu-item-active: #15d060;
}
.navbar-custom {
  background-color: #0e8b40;
}
.left-side-menu {
  background-color: #38414a;
}
.bg-primary {
  background: #0e8b40 !important;
}
body.authentication-bg-pattern {
  background-color: #0e8b40;
}
.fit-img {
  object-fit: contain;
}
.cover-img {
  object-fit: cover;
}
.text-primary {
  color: #0e8b40 !important;
}
.btn-primary {
  background-color: #0e8b40;
  border-color: #0e8b40;
}
.btn-primary:hover,
.btn-primary:focus {
  background-color: #095d2b;
  border-color: #095d2b;
}
.text-sm {
  font-size: 12px !important;
  line-height: 1.5;
}
.text-lg {
  font-size: 18px !important;
  line-height: 1.67;
}
.text-green {
  color: #4dcc18 !important;
}
.text-red {
  color: #FF0000 !important;
}
.bg-theme {
  background: #0e8b40 !important;
}
.spinner {
  border-left-color: #0e8b40;
}
.pagination li.active .page-link,
.pagination li:hover .page-link {
  border-color: #0e8b40 !important;
  background: #0e8b40 !important;
}
.owl-carousel .item img {
  max-width: 100%;
  height: 190px;
  object-fit: contain;
}
.img-sm {
  width: 46px;
  height: 46px;
  object-fit: contain;
}
.steps ul {
  display: flex;
  display: -webkit-flex;
  list-style: none;
  padding-left: 0;
}
.steps ul li,
.steps ul li.current {
  outline: none;
  position: relative;
  padding-bottom: 3px;
  padding-right: 80px;
}
.steps ul li:last-child {
  padding-right: 0;
}
.steps ul li:first-child .step-icon:before {
  content: none;
}
.steps ul li a {
  cursor: default;
  text-decoration: none;
  outline: none;
}
.steps ul li a .title {
  text-align: center;
}
.steps ul li a .title span {
  display: block;
  font-size: 16px;
}
.steps ul li a .title .step-icon {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: #fff;
  margin: 0 auto;
  position: relative;
  outline: none;
  color: #fff;
  font-size: 30px;
  border: 2px solid #ccc;
}
.steps ul li a .title .step-icon i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 55px;
  height: 55px;
  filter: grayscale(1);
}
.steps ul li a .title .step-icon.dispatched i {
  background-image: url(../../frontend_assets/images/tracking_icons/dispatched.png);
}
.steps ul li a .title .step-icon.delivered i {
  background-image: url(../../frontend_assets/images/tracking_icons/delivered.png);
}
.steps ul li a .title .step-icon.in_transit i {
  background-image: url(../../frontend_assets/images/tracking_icons/in_transit.png);
}
.steps ul li a .title .step-icon.picked_up i {
  background-image: url(../../frontend_assets/images/tracking_icons/pickup.png);
}
.steps ul li a .step-number {
  color: #666;
  font-weight: 400;
  padding: 0px 0 8px;
}
.steps ul li a .step-text {
  color: #333;
  font-weight: 600;
  padding-bottom: 8px;
}
.steps ul li .step-icon:before {
  position: absolute;
  content: "";
  background: #e5e5e5;
  width: 100px;
  height: 6px;
  top: 50%;
  left: -100px;
  z-index: -1;
  transform: translateY(-50%);
}
.steps ul li.current .step-icon:before,
.steps ul li.done .step-icon:before {
  background: #699186;
}
.steps ul li.current a .step-icon,
.steps ul li.done a .step-icon,
.steps ul li.current a:active .step-icon,
.steps ul li.done a:active .step-icon {
  border-color: #699186;
}
.steps ul li.current a .step-icon,
.steps ul li.current a:active .step-icon {
  box-shadow: 0px 5px 18px 0px rgba(0, 0, 0, 0.2);
}
.steps ul li.current a .step-icon i,
.steps ul li.current a:active .step-icon i {
  filter: grayscale(0);
}
.steps .done::before {
  background: #0e8b40;
}
.custom_scroll_height {
  max-height: 120px;
  overflow-y: scroll;
}
.custom_scroll_height::-webkit-scrollbar {
  width: 5px;
}
.custom_scroll_height::-webkit-scrollbar-track {
  background: #eee;
}
.custom_scroll_height::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background-color: #0e8b40;
  background-image: linear-gradient(to top, #095d2b 0%, #0e8b40 100%);
}
.select2-container--default .select2-results__option[aria-selected=true] {
  background-color: #ccc;
}
.authentication-bg footer {
  color: #fff;
}
.code {
  font-size: 87.5%;
  color: var(--ct-code-color);
  word-wrap: break-word;
}
